.section {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  gap: 2rem;
  padding: 4rem 0;
}

.article {
  border: 2px solid red;
}

.exampleImg {
  border-radius: 1rem;
  /* height: 300px; */
}
