section {
    width: 60vw;
    margin: 0 auto;
    display: grid;
    text-align: center;
    gap: 2rem;
}

img {
    max-width: 100%;
}


@media (min-width: 792px) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
        width: 95%;
    }

    .example-img {
        height: 200px;
    }
}